* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding: 0px 80px;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

h1 {
    font-size: 60px;
    color: #575757;
    margin-bottom: 20px;
}
p {
    color: #828282;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 31px;
}

.gradient-button {
    margin: 10px;
    font-size: 20px;
    padding: 20px 10px;
    text-align: center;
    text-transform: capitalize;
    background-size: 150% auto;
    color: #FFF;
    width: 180px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    border-radius: 30px;
}

.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}

.gradient-button-1 {
    background-image: linear-gradient(to right, #FBA24F,#FF1E1E);
    border: none;
}

.second-img {
    width: 60% !important;
    margin: auto;
}

#second-img-div {
    text-align: center;
}

.second-section {
    background: url(images/Group\ 8430.png);
    background-position: bottom;
    padding: 60px 80px 0px 80px;
}

.recipie-section {
    text-align: center;
    padding: 50px 0px;
}

h2 {
    font-size: 40px;
    color: #575757;
    margin-bottom: 30px;
}

.details {
    width: 700px;
    margin: auto;
}

.info-box {
    padding: 30px;
    box-shadow: 8px 10px 78px -25px #575757;
    text-align: left;
    border-radius: 25px;
    margin: 20px;
    background-color: #FFF;
}

.one-third-box {
    width: 33%;
}

.counter-section {
    background-color: #fff;
    box-shadow: 8px 10px 78px -25px #575757;
    border-radius: 25px;
    padding: 60px 0px;
    margin: 20px;
    margin-top: 100px;
    color: black !important;
}

footer {
    text-align: center;
    background-color: black;
    padding: 80px 0px;
}

footer h3 {
    font-size: 30px;
    color: #828282;
    margin-bottom: 30px;
}

.info-box h3 {
    margin: 25px 0px 10px;
}